*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body{
 
background-color: rgba(75, 83, 192, 0.568);
display: flex;
min-height: 100vh;
font-size: 13px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.nav-main a{
 color:#fff;
 text-decoration:none;

}

ul{

    list-style: none;

}

.container {
 width: 90%;
 margin: auto;
}

/*Navegation*/
.nav-main{
 font-size: 17px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 60px;
 padding:20px 0;
margin-right:280px;


 

}



.nav-brand{
 width:70px;
}

/*Nav Left*/
.nav-main ul {
display: flex;


}


.nav-main ul li{
padding:30px;

}

.nav-main ul li a {
 padding: 2px;
 

}

.nav-main ul li a:hover {

border-bottom: 2px solid rgb(238, 49, 49);



}

.nav-main ul {
 font-family: Georgia, 'Times New Roman', Times, serif;

}


.nav-main ul li a{

font-size: 19px;

}

.nav-menu-right a{
  color: #fff;
}




.menu-btn{
  position: absolute;
  cursor: pointer;
  top: 17px;;
  right:30px;
  z-index:2;
  color:#fff;
  display: none;
}


/*SLIDER*/

hr{
margin-bottom: 30px;
border:2px solid #fff;


}

.container-slider{
width:70%;
max-width:900px;
left:150px;
top:30px;

overflow: hidden;
box-shadow: 0 0 0 2px #fff,
            0 15px 50px;
 position: relative;
margin-bottom: 150px;

}

.container-slider .btn{
  align-items: center;
  position: absolute;
  bottom:10px;
  left:40%;

}





.slider{
  display:flex;
  width:400%;
  height:400px;
  margin-left:-100%;

}


.slider__section{
  width:100%;

}

.slider img{
 display: block;
 width:100%;
 height:100%;
 object-fit: cover;
}

.slider__btn{
  position: absolute;
  width:40px;
  height:40px;
  background: rgb(255,255,255, 0.7);
  top:50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center ;
  border-radius: 50%;
  cursor:pointer;

}

.slider__btn:hover{
  background:#fff;

}

.slider__btn--right{
  right: 10px;
}


.slider__btn--left{
  left:10px;

}





.btn{
 cursor: pointer;
 display: inline-block;
 border: 0;
 font-weight: bold; 
 padding: 10px 60px;
 background: #8a0f0f;
color: #fff;
font-size: 15px;
border: 1px solid rgb(243, 250, 244);
margin: 10px 0;
border-radius: 15px;

}

.btn:hover{
  background:  rgb(248, 11, 3);


}

.container-slider h2,
.container-slider p{
 margin-bottom: 10px;

}

/*NEWS CARDS*/


.titulo{

font-family:Georgia, 'Times New Roman', Times, serif;

}

.news-cards {
display: grid;
grid-template-columns:1fr 1fr 1fr 1fr ;
gap:100px;
margin: 40px 0;
}

.news-cards img {
  width: 70%;
  height: 160px;  
}

.news-cards h2{
    font-size: 20px;
    margin: 10px 0;
}


.news-cards .sub-title{
  color: #fff;
  font-family: serif;
  margin: 5px 0;
  font-size: 19px;
}

.news-cards li{
  font-size:14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}


.news-cards a {
 padding: 10px 25PX;
 color: rgb(243, 243, 243);
text-decoration: none;
 
 

}

.news-cards a:hover{
  box-shadow: 0 0 10px #f80f0f
}

/*CARDS BANNER ONE*/

.cards-banner-one {
width:100%;
height: 250px;
background: url(img/bebe\ banner.jpg)no-repeat center center/cover;
margin-bottom: 60px;
object-fit: cover;

}

.cards-banner-one .content{
width: 85%;
padding: 73px 0 0  30px;
color: rgb(247, 4, 4);


}
.content h2{
font-size:30px;

}

.cards-banner-one a{
  margin-bottom:60px;
}

.cards-banner-one p{

font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
font-size:20px;
color: rgb(255, 255, 255);


}
 
.cards-banner-one p,
.cards-banner-one h2 {
  margin: 0px 0 10px 0;
}

/*CARDS-BANNER-TWO*/

.cards-banner-two {
  width:100%;
  height: 200px;
  background: url(img/banner\ two.jpg)no-repeat center center/cover;
  margin-bottom: 60px;
  object-fit: cover;
  margin:100px 0;
  
  }
  
  .cards-banner-two .content{
  width: 40%;
  padding: 90px 0 0  30px;
  color: rgb(247, 241, 241);
  
  
  }
  
  .cards-banner-two p{
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size:23px;
  color: rgb(233, 227, 227);
  text-align:start;
  padding-left:10px;
  
  
  }
   
  .cards-banner-two h2{
    color: rgb(255, 11, 11);
    text-align:start;
    padding: 25px 10px;
    font-size:30px;
  }


  /*SOCIAL*/

  .social{
    margin:50px;
  }

  .social p{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
  }



  .links{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .links a{
  margin: 0 30px;

  }

  .links a i{
    font-size:3rem;
  }















  @media  (max-width:1200px){
    .cards-banner-one .content{
      width:75%;
      padding:50px 10px;

    }
    .content h2{
      font-size:25px;
    }
    .content p{
      font-size: 18px;
      padding-bottom:5px;
      
    }
   
  }


  


@media  (max-width:1035px){

  .news-cards img{
  width:50%;
  }
  
  .news-cards{
    grid-template-columns: repeat(2,1fr);
    
  }
  
  .cards-banner- .content,
  .cards-banner-two .content
  {
    width:80% ;
  }
  .cards-banner-one{
    height:180px;
  }

    
  .cards-banner-one .content{
    padding:30px 0px;

  }
  .content h2{
    font-size:20px;
    margin-left: 5px;
    
  }

  .content p{
    margin-left: 5px;
    padding-bottom:0px px;
    font-size:15px;
  }

  
       
    }




    
  @media  (max-width:895px){


   .nav-menu a{
    color: #2ab;
    }

   .menu-btn{
     display: block;
   }


    .nav-main ul.nav-menu{
      display:block;
      position: absolute;
      top:0;
      left:0;
      background: rgb(252, 252, 252);
      height:100%;
      padding:30px;
      opacity:.8;
      transform: translateX(-400px);
      transition:trasform .5s ease-in-out;
      z-index:2;
    
    }


   .nav-main ul.nav-menu.show{
     transform:translateX(-20px);
   } 
    
    .nav-main ul.nav-menu li{
      padding:20px;
      font-size:14px;
    }

    .nav-main ul.nav-menu-right{
      margin-right:40px;
    }
    
  
    
     .cards-banner-one .content{
      padding:30px 0px;

    }
    .content h2{
      font-size:20px;
      margin-left: 5px;
      
    }

    .content p{
      margin-left: 5px;
      padding-bottom:0px px;
      font-size:15px;
    }

  }


  @media  (max-width:700px){

   

.news-cards img{
  height:100px;
    
}

.news-cards h3{
 font-size:15px;
}

.news-cards li{
  font-size:13px;
 }
 .cards-banner-one{
   height:170px;

 }
 .cards-banner-one .content{
   width:70%;
   padding:5px 10px;

 }
 .content h2{
   font-size:20;
 }

 .content p{
  font-size:14px;
  
 }
 .btn{
   padding:7px 25px;
 }
    
} 



@media  (max-width:575px){

  .container-slider{
  left: 70px;



  }


  body{
    background: #2ab;
  }

 .news-cards {
   grid-template-columns: 1fr;
  
 }

 .news-cards img{
   width:30%;
 }

 .links a i{
   font-size:2rem;
 }

 .cards-banner-two{
   height:150px;
 }
 .cards-banner-two h2{
   font-size:25px;
 }
 .cards-banner-two p{
   font-size:20px;
   
 }

 .cards-banner-one{
   height:160px;
   margin-bottom:70px;
 }
 .cards-banner-one .content{
   width:100%;
   padding:5px 0px;
   
 }

 .content h2{
  font-size: 17px;
  text-align: center;
  
  display:inline-flex;
 }

 .content p{
   font-size: 14px;
   text-align:start;
 }
 .btn{
  padding:7px 10px;
  margin:5px 0px ;
 }


}








    






